body {
	margin: 0;
	padding: 0;
}

div.custom-overlay {
	background-color: black;
	background-image: none;
	opacity: 0.7;
}

.closeDialog {
	background:url("scripts/plugins/jquery-ui-1.10.3.custom/css/ui-lightness/images/ui-icons_222222_256x240.png") #ff0000;
	width: 25px;
	height: 25px;
	position: fixed;
	right: 523px;
    top: 33px;
	z-index: 256233;
}
